4. Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json

In [2]:
import pandas as pd
import requests

In [3]:
Link = "https://data.nasa.gov/resource/y77d-th95.json"
df=pd.read_json(Link)
pd.set_option("display.max_columns",None)
df.head(3)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN

In [4]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation', ':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'],
      dtype='object')

In [5]:
df=df.drop([':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'], axis=1)
df.head(3)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216..."

In [6]:
df['year']=df['year'].str[0:4]

Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [7]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation'],
      dtype='object')

In [8]:
df.rename(columns={'name': 'Name of Earth Meteorite', 'id':'ID of meteorite','mass':'mass of meteorite', 'year':'year meteorite hit'}, inplace=True)

#df['name'].rename("Name of Earth Meteorite",inplace=True)
#df['id'].rename("ID_of Earth meteorite",inplace=True)
#df['mass'].rename("mass of meteorite",inplace=True)
#df['year'].rename("year meteorite hit",inplace=True)

In [10]:
df.head(3)

,Name of Earth Meteorite,ID of meteorite,nametype,recclass,mass of meteorite,fall,year meteorite hit,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216..."

 # Get all the Earth meteorites that fell before the year 2000

In [12]:
pd.to_datetime(df['year meteorite hit'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1583-01-01 00:00:00

In [ ]:
df[df['fall']=='Fell' and df['year meteorite hit']<2000]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
df['year']=df['year'].astype('Int64')

In [ ]:
meterorite_list=list(df[df['year']<1970]['name'].unique())
meterorite_list

['Aachen',
 'Aarhus',
 'Abee',
 'Achiras',
 'Adhi Kot',
 'Adzhi-Bogdo (stone)',
 'Agen',
 'Aguada',
 'Aguila Blanca',
 'Aïr',
 'Aire-sur-la-Lys',
 'Akaba',
 'Akbarpur',
 'Akwanga',
 'Al Rais',
 'Alais',
 'Albareto',
 'Alberta',
 'Aldsworth',
 'Aleppo',
 'Alessandria',
 'Alexandrovsky',
 'Alfianello',
 'Allegan',
 'Allende',
 'Ambapur Nagla',
 'Andhara',
 'Andover',
 'Andreevka',
 'Andura',
 'Angers',
 'Angra dos Reis (stone)',
 'Ankober',
 'Appley Bridge',
 'Apt',
 'Arbol Solo',
 'Archie',
 'Arroyo Aguiar',
 'Asco',
 'Ashdon',
 'Assisi',
 'Atarra',
 'Atemajac',
 'Athens',
 'Atoka',
 'Aubres',
 'Aumale',
 'Aumieres',
 'Ausson',
 'Avanhandava',
 'Avce',
 'Avilez',
 'Awere',
 'Aztec',
 'Bachmut',
 'Bahjoi',
 'Bald Mountain',
 'Baldwyn',
 'Bali',
 'Bandong',
 'Bansur',
 'Banswal',
 'Banten',
 'Barbotan',
 'Barcelona (stone)',
 'Barea',
 'Barnaul',
 'Barntrup',
 'Baroti',
 'Barwell',
 'Bath',
 'Bath Furnace',
 'Baxter',
 'Beardsley',
 'Beaver Creek',
 'Beddgelert',
 'Bells',
 'Belville',
 'Benares (a)',
 'Benld',
 'Benoni',
 'Benton',
 'Béréba',
 'Berlanguillas',
 'Bethlehem',
 'Beuste',
 'Beyrout',
 'Bhagur',
 'Bherai',
 'Bhola',
 'Bholghati',
 'Bialystok',
 'Bielokrynitschie',
 "Birni N'konni",
 'Bishopville',
 'Bishunpur',
 'Bjelaja Zerkov',
 'Bjurböle',
 'Black Moshannan Park',
 'Blackwell',
 'Blanket',
 'Blansko',
 'Bloomington',
 'Bocas',
 'Bogou',
 'Boguslavka',
 'Borgo San Donino',
 'Bori',
 'Boriskino',
 'Borkut',
 'Borodino',
 'Botschetschki',
 'Bovedy',
 'Bradford Woods',
 'Braunau',
 'Breitscheid',
 'Bremervörde',
 'Brient',
 'Bruderheim',
 'Bulls Run',
 'Bununu',
 'Bur-Gheluai',
 'Bursa',
 'Buschhof',
 'Bustee',
 'Butsura',
 'Cabezo de Mayo',
 'Cabin Creek',
 'Cacak',
 'Calivo',
 'Çanakkale',
 'Cañellas',
 'Cangas de Onis',
 'Cape Girardeau',
 'Capilla del Monte',
 'Caratash',
 'Castalia',
 'Castel Berardenga',
 'Castine',
 'Castrovillari',
 'Caswell County',
 'Centerville',
 'Cereseto',
 'Chail',
 'Chainpur',
 'Chajari',
 'Chandakapur',
 'Chandpur',
 'Chantonnay',
 'Charlotte',
 'Charsonville',
 'Charwallas',
 'Chassigny',
 'Château-Renard',
 'Chaves',
 'Chernyi Bor',
 'Cherokee Springs',
 'Chervettaz',
 'Chervony Kut',
 'Chetrinahatti',
 'Chicora',
 'Chitado',
 'Clohars',
 'Colby (Wisconsin)',
 'Cold Bokkeveld',
 'Collescipoli',
 'Conquista',
 'Cosina',
 'Cranganore',
 'Crescent',
 'Cronstad',
 'Cross Roads',
 'Crumlin',
 'Cumberland Falls',
 'Cynthiana',
 'Dandapur',
 "Daniel's Kuil",
 'Danville',
 'Darmstadt',
 'De Cewsville',
 'Deal',
 'Delhi',
 'Demina',
 'Denver',
 'Desuri',
 'Dharwar',
 'Dhurmsala',
 'Diep River',
 'Distrito Quebracho',
 'Djati-Pengilon',
 'Djermaia',
 'Dokachi',
 'Dolgovoli',
 'Domanitch',
 'Donga Kohrod',
 'Doroninsk',
 'Dosso',
 'Douar Mghila',
 'Drake Creek',
 'Dresden (Ontario)',
 'Dubrovnik',
 'Dundrum',
 'Durala',
 'Duruma',
 'Duwun',
 'Dyalpur',
 'Dyarrl Island',
 'Eagle',
 'Ehole',
 'Eichstädt',
 'Ekeby',
 'Ekh Khera',
 'Elbogen',
 'Elenovka',
 'Ellemeet',
 'Emmaville',
 'Ensisheim',
 'Épinal',
 'Erakot',
 'Erevan',
 'Ergheo',
 'Erxleben',
 'Esnandes',
 'Essebi',
 'Estherville',
 'Farmington',
 'Farmville',
 'Favars',
 'Fayetteville',
 'Feid Chair',
 'Felix',
 'Fenghsien-Ku',
 'Ferguson',
 'Fisher',
 'Florence',
 'Forest City',
 'Forest Vale',
 'Forksville',
 'Forsbach',
 'Forsyth',
 'Fort Flatters',
 'Frankfort (stone)',
 'Fuhe',
 'Fukutomi',
 'Fünen',
 'Futtehpur',
 'Galapian',
 'Galim (a)',
 'Galim (b)',
 'Gambat',
 'Gao-Guenie',
 'Garhi Yasin',
 'Garland',
 'Geidam',
 'Gifu',
 'Girgenti',
 'Git-Git',
 'Glanggang',
 'Glasatovo',
 'Gnadenfrei',
 'Gopalpur',
 'Granes',
 'Grosnaja',
 'Gross-Divina',
 'Grossliebenthal',
 'Grüneberg',
 'Grzempach',
 'Gualeguaychú',
 'Guareña',
 'Guêa',
 'Guidder',
 'Gumoschnik',
 'Gurram Konda',
 'Gütersloh',
 'Gyokukei',
 'Hachi-oji',
 'Hainaut',
 'Hallingeberg',
 'Hamlet',
 'Haraiya',
 'Haripura',
 'Harleton',
 'Harrison County',
 'Hashima',
 'Hassi-Jekna',
 'Hatford',
 'Hedeskoga',
 'Hedjaz',
 'Heredia',
 'Hessle',
 'Higashi-koen',
 'High Possil',
 'Hökmark',
 'Holbrook',
 'Holetta',
 'Homestead',
 'Honolulu',
 'Hotse',
 'Hoxie',
 'Hraschina',
 'Hungen',
 'Hvittis',
 'Ibbenbüren',
 'Ibitira',
 'Ibrisim',
 'Ichkala',
 'Idutywa',
 'Indarch',
 'Independence',
 'Inner Mongolia',
 'Ishinga',
 'Isthilart',
 'Itapicuru-Mirim',
 'Ivuna',
 'Jackalsfontein',
 'Jajh deh Kot Lalu',
 'Jalandhar',
 'Jamkheir',
 'Jelica',
 'Jemlapur',
 'Jhung',
 'Jiange',
 'Jianshi',
 'Jodzie',
 'Johnstown',
 'Jonzac',
 'Judesegeri',
 'Juromenha',
 'Juvinas',
 'Kaba',
 'Kadonah',
 'Kaee',
 'Kagarlyk',
 'Kainsaz',
 'Kakangari',
 'Kakowa',
 'Kalaba',
 'Kalumbi',
 'Kamalpur',
 'Kamiomi',
 'Kamsagar',
 'Kandahar (Afghanistan)',
 'Kangean',
 'Kangra Valley',
 'Kapoeta',
 'Kaptal-Aryk',
 'Karakol',
 'Karatu',
 'Karewar',
 'Karkh',
 'Karloowala',
 'Karoonda',
 'Kasamatsu',
 'Kayakent',
 'Kediri',
 'Kendleton',
 'Kerilis',
 'Kernouve',
 'Kesen',
 'Khairpur',
 'Khanpur',
 'Kharkov',
 'Kheragur',
 'Khetri',
 'Khmelevka',
 'Khohar',
 'Khor Temiki',
 'Kiel',
 'Kijima (1906)',
 'Kikino',
 'Kilbourn',
 'Killeter',
 'Kingai',
 'Kirbyville',
 'Kisvarsány',
 'Klein-Wenden',
 'Knyahinya',
 'Komagome',
 'Konovo',
 'Krähenberg',
 'Krasnoi-Ugol',
 'Krasnyi Klyuch',
 'Krutikha',
 'Krymka',
 'Kukschin',
 'Kulak',
 'Kuleschovka',
 'Kulp',
 'Kunashak',
 'Kushiike',
 'Kusiali',
 'Kuttippuram',
 'Kuznetzovo',
 'Kyushu',
 'La Bécasse',
 'La Charca',
 'La Colina',
 'Laborel',
 'Lahrauli',
 "L'Aigle",
 'Lakangaon',
 'Lalitpur',
 'Lancé',
 'Lancon',
 'Långhalsen',
 'Lanzenkirchen',
 'Launton',
 'Lavrentievka',
 'Le Pressoir',
 'Le Teilleul',
 'Leedey',
 'Leeuwfontein',
 'Leighton',
 'Leonovka',
 'Les Ormes',
 'Lesves',
 'Lillaverke',
 'Limerick',
 'Linum',
 'Lissa',
 'Little Piney',
 'Lixna',
 'Lodran',
 'Los Martinez',
 'Łowicz',
 'Lua',
 'Lucé',
 'Lumpkin',
 'Lundsgård',
 'Luotolax',
 'Luponnas',
 'Lusaka',
 'Mabwe-Khoywa',
 'Macau',
 'Macibini',
 'Madhipura',
 'Madiun',
 'Madrid',
 'Mafra',
 'Magnesia',
 'Malaga',
 'Malampaka',
 'Malotas',
 'Malvern',
 'Mamra Springs',
 'Manbhoom',
 'Manegaon',
 'Mangwendi',
 'Manych',
 'Mardan',
 'Maria Linden',
 'Mariaville',
 'Maridi',
 'Marion (Iowa)',
 'Marjalahti',
 'Marmande',
 'Mascombes',
 'Mässing',
 'Mauerkirchen',
 'Mauritius',
 'Mazapil',
 'Maziba',
 'Medanitos',
 'Meerut',
 'Meester-Cornelis',
 'Menow',
 'Menziswyl',
 'Mern',
 'Meru',
 'Merua',
 'Messina',
 'Meuselbach',
 'Mezel',
 'Mezö-Madaras',
 'Mhow',
 'Middlesbrough',
 'Mighei',
 'Mike',
 'Milena',
 'Millbillillie',
 'Miller (Arkansas)',
 'Minamino',
 'Mineo',
 'Min-Fan-Zhun',
 'Minnichhof',
 'Mirzapur',
 'Misshof',
 'Mjelleim',
 'Mocs',
 'Modoc (1905)',
 'Mokoia',
 'Molina',
 'Molteno',
 'Monroe',
 'Monte das Fortes',
 'Monte Milone',
 'Montferré',
 'Montlivault',
 'Monze',
 'Moore County',
 'Mooresfort',
 'Moorleah',
 'Moradabad',
 'Mornans',
 'Moti-ka-nagla',
 'Motta di Conti',
 'Mount Browne',
 'Mount Vaisi',
 'Mtola',
 'Muddoor',
 'Mulletiwu',
 'Muraid',
 'Murchison',
 'Murray',
 'Muzaffarpur',
 'Myhee Caunta',
 'Nadiabondi',
 'Nagai',
 'Nagaria',
 'Nagy-Borové',
 'Nakhla',
 'Nakhon Pathom',
 'Nammianthal',
 'Nan Yang Pao',
 'Nanjemoy',
 'Naoki',
 'Narellan',
 'Narni',
 'Nassirah',
 'Nawapali',
 'Nedagolla',
 'Nerft',
 'New Concord',
 'Ngawi',
 "N'Goureyma",
 'Nicorps',
 'Niger (L6)',
 'Niger (LL6)',
 'Nikolaevka',
 'Nikolskoe',
 'Nio',
 "N'Kandhla",
 'Nobleborough',
 'Nogata',
 'Nogoya',
 'Norfork',
 'Norton County',
 'Novo-Urei',
 'Novy-Ergi',
 'Novy-Projekt',
 'Noyan-Bogdo',
 'Nulles',
 'Numakai',
 'Nyaung',
 'Nyirábrany',
 'Ochansk',
 'Oesede',
 'Oesel',
 'Ofehértó',
 'Ogi',
 'Ohaba',
 'Ohuma',
 'Ojuelos Altos',
 'Okabe',
 'Okano',
 'Okniny',
 'Oldenburg (1930)',
 'Oliva-Gandia',
 'Olivenza',
 'Olmedilla de Alarcón',
 'Orgueil',
 'Ornans',
 'Ortenau',
 'Orvinio',
 'Oterøy',
 'Otomi',
 'Ottawa',
 'Ovambo',
 'Oviedo',
 'Owrucz',
 'Pacula',
 'Padvarninkai',
 'Paitan',
 'Palahatchie',
 'Palinshih',
 'Palmyra',
 'Palolo Valley',
 'Pampanga',
 'Pantar',
 'Paragould',
 'Parambu',
 'Paranaiba',
 'Parnallee',
 'Parsa',
 'Pasamonte',
 'Patora',
 'Patrimonio',
 'Patti',
 'Patwar',
 'Pavel',
 'Pavlodar (stone)',
 'Pavlograd',
 'Pavlovka',
 'Peace River',
 'Peckelsheim',
 'Peña Blanca Spring',
 'Peramiho',
 'Perpeti',
 'Perth',
 'Pervomaisky',
 'Pesyanoe',
 'Petersburg',
 'Pettiswood',
 'Phillips County (stone)',
 'Phu Hong',
 'Phum Sambo',
 'Phuoc-Binh',
 'Piancaldoli',
 'Picote',
 'Pillistfer',
 'Piquetberg',
 'Pirgunje',
 'Pirthalla',
 'Pitts',
 'Plantersville',
 'Ploschkovitz',
 'Pnompehn',
 'Pohlitz',
 'Pokhra',
 'Pollen',
 'Pontlyfni',
 'Portugal',
 'Po-wang Chen',
 'Prambachkirchen',
 'Pribram',
 'Pricetown',
 'Pulsora',
 'Pultusk',
 'Punganaru',
 'Putinga',
 "Queen's Mercy",
 'Quenggouk',
 'Quesa',
 'Quincay',
 'Raco',
 'Rakovka',
 'Ramnagar',
 'Rampurhat',
 'Ramsdorf',
 'Ranchapur',
 'Rancho de la Presa',
 'Rangala',
 'Raoyang',
 'Ras Tanura',
 'Rasgrad',
 'Ratyn',
 'Reliegos',
 'Rembang',
 'Renazzo',
 'Renca',
 'Renqiu',
 'Repeev Khutor',
 'Revelstoke',
 'Rewari',
 'Rich Mountain',
 'Uzcudun',
 'Richardton',
 'Richmond',
 'Rio Negro',
 'Rivolta de Bassi',
 'Rochester',
 'Rockhampton',
 'Roda',
 'Rodach',
 'Rose City',
 'Rowton',
 'Rumuruti',
 'Rupota',
 'Ryechki',
 'Sabetmahet',
 'Sagan',
 'Saint-Sauveur',
 'Saint-Séverin',
 'Sakauchi',
 'Salles',
 'Samelia',
 'San Pedro de Quiles',
 'San Pedro Jacuaro',
 'Santa Barbara',
 'Santa Cruz',
 'Santa Isabel',
 'São Jose do Rio Preto',
 'Saratov',
 'Sasagase',
 'Sauguis',
 'Savtschenskoje',
 'Sazovice',
 'Schellin',
 'Schenectady',
 'Schönenberg',
 'Searsmont',
 'Sediköy',
 'Segowlie',
 'Selakopi',
 'Seldebourak',
 'Semarkona',
 'Sena',
 'Seoni',
 'Seres',
 'Serra de Magé',
 'Sete Lagoas',
 'Sevilla',
 'Sevrukovo',
 'Shalka',
 'Sharps',
 'Shelburne',
 'Shergotty',
 'Shikarpur',
 'Shupiyan',
 'Shytal',
 'Siena',
 'Sikhote-Alin',
 'Silistra',
 'Simmern',
 'Sinai',
 'Sindhri',
 'Sinnai',
 'Sioux County',
 'Sitathali',
 'Ski',
 'Slavetic',
 'Slobodka',
 'Soheria',
 'Soko-Banja',
 'Sologne',
 'Sone',
 'Sopot',
 'Soroti',
 'St. Caprais-de-Quinsac',
 'St. Christophe-la-Chartreuse',
 'St. Denis Westrem',
 'St. Germain-du-Pinel',
 'St. Louis',
 "St. Mark's",
 "St. Mary's County",
 'St. Mesmin',
 'St. Michel',
 'St.-Chinian',
 'Ställdalen',
 'Stannern',
 'Stavropol',
 'Ste. Marguerite',
 'Stolzenau',
 'Strathmore',
 'Stretchleigh',
 'Success',
 'Suchy Dul',
 'Sultanpur',
 'Sungach',
 'Supuhee',
 'Sylacauga',
 'Tabor',
 'Tadjera',
 'Takenouchi',
 'Tané',
 'Taonan',
 'Tatahouine',
 'Tathlith',
 'Tauk',
 'Tauti',
 'Tenham',
 'Tennasilm',
 'Thal',
 'Tieschitz',
 'Tilden',
 'Timochin',
 'Tirupati',
 'Tjabe',
 'Tjerebon',
 'Tomakovka']