In [26]:
import pandas as pd
import numpy as np
import math
import statistics

1. university wants to understand the relationship between the SAT scores of its
applicants and their college GPA. They collect data on 500 students, including their SAT
scores (out of 1600) and their college GPA (on a 4.0 scale). They find that the correlation
coefficient between SAT scores and college GPA is 0.7. What does this correlation
coefficient indicate about the relationship between SAT scores and college GPA?

In [31]:
#method to generate floating points between a range and a given sample size
gpa_arr=np.random.uniform(low=0.1,high=4.0,size=500)
gpa_scores=np.round(gpa_arr,decimals=2)
gpa_scores

array([1.19, 2.84, 3.79, 0.72, 1.49, 2.58, 1.2 , 1.32, 3.08, 2.93, 2.49,
       2.57, 2.32, 0.79, 2.81, 2.16, 1.23, 2.55, 0.33, 2.97, 2.67, 1.56,
       0.74, 3.03, 3.29, 0.19, 0.52, 0.9 , 3.85, 0.61, 2.73, 2.54, 0.14,
       2.03, 1.42, 0.83, 2.67, 2.03, 2.19, 3.73, 3.74, 3.84, 3.71, 2.17,
       3.19, 1.95, 0.35, 2.82, 0.31, 0.49, 3.36, 0.67, 3.37, 2.93, 1.71,
       2.96, 1.79, 3.06, 3.75, 1.24, 3.83, 3.33, 3.34, 3.38, 2.47, 1.82,
       2.61, 2.87, 1.19, 3.21, 2.96, 1.11, 3.74, 3.28, 3.24, 3.96, 1.81,
       2.09, 3.62, 3.79, 3.73, 1.94, 1.05, 3.86, 3.5 , 1.86, 2.08, 1.1 ,
       0.64, 2.69, 1.41, 3.07, 0.4 , 0.21, 3.88, 2.56, 2.77, 1.17, 3.13,
       1.43, 2.58, 1.82, 2.36, 0.24, 0.54, 2.65, 0.67, 1.08, 2.02, 3.65,
       3.53, 2.85, 2.67, 3.47, 2.79, 1.03, 1.01, 3.53, 2.74, 2.95, 0.28,
       1.87, 2.5 , 3.88, 2.94, 2.88, 1.41, 3.1 , 0.36, 2.02, 2.59, 0.53,
       2.04, 2.31, 2.09, 0.22, 1.43, 2.23, 2.36, 3.19, 1.62, 3.25, 2.07,
       0.47, 2.44, 3.37, 2.53, 1.74, 0.52, 0.36, 1.94, 1.76, 3.93, 0.89,
       1.34, 4.  , 3.91, 3.92, 1.19, 2.21, 1.32, 3.5 , 0.11, 3.54, 2.4 ,
       2.24, 1.59, 2.92, 3.82, 1.47, 2.91, 3.9 , 0.2 , 2.85, 1.87, 3.57,
       0.12, 1.28, 0.39, 2.3 , 0.57, 1.33, 0.23, 1.76, 0.22, 3.3 , 3.29,
       3.74, 3.3 , 3.53, 1.4 , 0.66, 0.48, 3.06, 2.82, 1.31, 1.38, 1.94,
       0.17, 1.03, 3.28, 2.13, 3.53, 3.34, 2.42, 1.15, 3.07, 2.23, 3.95,
       3.62, 2.68, 3.68, 1.1 , 1.72, 3.18, 2.11, 2.91, 3.01, 1.43, 0.19,
       3.29, 2.11, 1.59, 1.01, 2.93, 0.83, 0.82, 2.63, 0.3 , 1.01, 2.51,
       3.36, 2.18, 0.26, 3.12, 3.4 , 0.89, 2.72, 3.93, 3.87, 0.39, 3.34,
       3.04, 2.95, 3.66, 0.99, 2.89, 3.13, 3.2 , 1.37, 2.77, 0.17, 2.94,
       3.53, 1.42, 0.71, 2.93, 1.26, 3.51, 2.83, 3.86, 2.27, 1.43, 1.78,
       3.99, 3.17, 0.23, 0.41, 3.78, 3.51, 3.64, 0.54, 1.92, 3.  , 2.8 ,
       3.12, 2.84, 3.1 , 2.2 , 0.7 , 3.6 , 0.94, 0.61, 1.85, 1.04, 0.29,
       1.59, 1.86, 1.76, 2.16, 1.95, 2.34, 0.64, 0.9 , 2.19, 1.97, 1.01,
       1.87, 3.24, 1.61, 0.79, 1.64, 3.06, 1.16, 2.92, 3.21, 3.14, 0.93,
       1.2 , 0.35, 1.76, 0.98, 1.33, 1.23, 0.18, 2.59, 2.4 , 0.56, 0.31,
       4.  , 2.94, 0.73, 2.44, 1.97, 2.74, 0.31, 1.8 , 0.32, 2.56, 0.82,
       0.17, 2.58, 1.4 , 3.14, 1.38, 1.44, 3.56, 3.8 , 3.47, 2.85, 2.14,
       0.85, 3.07, 1.15, 0.81, 3.02, 1.41, 3.69, 1.43, 0.56, 0.61, 3.1 ,
       0.43, 1.72, 0.18, 2.29, 2.12, 1.16, 2.43, 3.6 , 0.56, 1.56, 3.43,
       0.34, 1.29, 3.57, 1.96, 1.36, 0.7 , 2.43, 0.2 , 3.13, 3.17, 2.43,
       2.56, 1.66, 1.18, 3.78, 2.56, 1.66, 3.04, 0.47, 1.9 , 3.38, 2.14,
       2.34, 0.98, 2.72, 0.66, 0.33, 2.39, 2.3 , 0.97, 3.52, 0.93, 3.7 ,
       1.99, 0.8 , 0.11, 3.96, 1.7 , 1.44, 0.57, 1.07, 2.65, 2.14, 3.98,
       0.4 , 2.24, 1.  , 0.26, 3.4 , 0.61, 0.41, 2.95, 1.67, 2.81, 0.66,
       2.46, 0.26, 1.05, 3.7 , 3.44, 0.84, 3.55, 0.9 , 3.46, 0.3 , 3.68,
       0.79, 0.27, 3.45, 1.14, 2.17, 1.81, 3.21, 3.83, 1.93, 1.59, 3.04,
       1.21, 1.73, 1.87, 1.54, 3.47, 0.57, 2.08, 3.  , 3.87, 3.61, 1.74,
       3.84, 3.51, 3.56, 0.63, 1.15, 1.38, 0.22, 1.52, 3.27, 2.4 , 0.7 ,
       2.59, 2.34, 3.95, 3.45, 2.82, 1.59, 0.69, 1.05, 0.45, 1.77, 0.82,
       2.83, 3.  , 3.15, 2.01, 1.31, 3.93, 1.57, 2.48, 3.18, 2.89, 0.69,
       1.37, 1.23, 0.18, 2.28, 0.8 , 3.73, 1.63, 1.12, 3.07, 0.68, 3.95,
       2.3 , 3.54, 0.73, 1.11, 3.49])

In [28]:
sat_scores=np.random.randint(100,1600,500)
sat_scores

array([ 914,  729,  814, 1099,  827, 1587,  236,  417, 1393,  887, 1435,
        942, 1412,  647,  526,  757,  428, 1061, 1251,  820,  473, 1459,
       1493,  553, 1041, 1598, 1412,  102, 1322,  873, 1556, 1592,  432,
        656,  795, 1040, 1015, 1088,  948, 1376,  717,  625,  763, 1336,
        415,  931,  215, 1429,  812,  527, 1405,  563, 1151,  840,  743,
        751,  738,  671, 1404,  505,  280, 1465, 1277, 1269,  161, 1355,
       1228,  638,  869, 1079,  642, 1217,  799,  499,  340,  980,  427,
       1316,  835, 1276, 1155, 1384, 1200,  667, 1406, 1259,  985,  733,
        976, 1235,  320,  441,  836,  359,  789, 1293,  807, 1383,  653,
       1195,  813,  763,  685, 1045,  653,  609,  618,  708,  756, 1415,
       1479,  854, 1192, 1175,  758,  541,  541,  616, 1425,  895, 1321,
        850,  583, 1336,  670, 1511, 1376,  943, 1013, 1245,  308,  984,
        820, 1000, 1043, 1561, 1117,  538,  793, 1466,  459,  783, 1597,
       1336,  552, 1135,  598, 1069, 1249,  665,  233,  638, 1243, 1213,
       1478,  934, 1065,  873,  966,  177,  121,  253, 1466,  507,  397,
        150, 1028, 1026, 1054,  957, 1106, 1224,  753, 1161,  800, 1524,
       1016, 1463, 1402, 1097, 1402, 1409,  262, 1025,  291, 1167, 1124,
        325,  658,  646, 1417, 1353, 1158, 1074,  846,  356, 1206,  909,
        803, 1303,  366, 1308, 1483, 1349,  231, 1433,  221,  498,  401,
       1321,  722,  218, 1295,  211, 1176,  459,  795,  457,  108, 1107,
       1415,  699,  430,  494,  859,  411,  436,  681, 1197, 1584, 1573,
        944, 1445, 1265,  149,  205, 1019,  471,  773, 1235,  133, 1429,
       1281, 1199,  955, 1029,  685,  327,  205, 1516, 1343,  780,  336,
       1015,  234,  441, 1233, 1404,  915,  456, 1127,  156,  788,  542,
       1171, 1358, 1413, 1088,  864,  638, 1151, 1325,  270,  907, 1499,
        637,  898, 1371,  619, 1475, 1067, 1505, 1398, 1241, 1328,  679,
        422,  259,  841, 1544, 1413, 1089, 1014,  486, 1411, 1339,  474,
        823,  285, 1499, 1260,  971,  197,  839, 1312, 1133,  936,  816,
        627, 1476, 1513,  290,  877, 1547,  607,  934,  266, 1336, 1345,
       1566, 1028, 1411, 1329,  977, 1024,  219,  364, 1104, 1005,  253,
       1075, 1291,  246,  904,  167, 1262, 1229, 1430,  781, 1201, 1339,
        712, 1080,  778, 1396,  677, 1367,  972, 1084,  266,  685, 1365,
        625,  248, 1208, 1345,  670, 1497, 1387, 1191, 1117, 1594,  181,
        519,  327,  484,  313,  512, 1349, 1226,  220,  777, 1383, 1270,
        107, 1172,  629, 1210,  848, 1271, 1434,  403, 1122, 1087,  186,
        821,  248, 1227,  491,  541,  100,  263, 1084,  734, 1445,  622,
       1168,  884,  276,  872, 1112,  914,  299,  537,  599,  358, 1497,
        851,  435,  827,  291,  803,  775, 1236, 1138, 1540, 1517, 1022,
       1054,  930,  622, 1026,  533,  307,  662,  574, 1366,  792, 1058,
        785,  101,  734, 1139,  423,  811,  734, 1513,  173,  207,  841,
       1052,  996,  942, 1313,  990,  485, 1392,  246, 1549, 1347, 1530,
        716,  854,  509,  225,  264, 1366, 1422,  380, 1079, 1329, 1063,
        333, 1047, 1353,  113,  983, 1009,  463,  144, 1503,  310,  875,
        650, 1079,  183,  824,  124, 1144,  304, 1313,  438, 1195,  580,
       1162, 1576, 1057,  862,  448, 1578,  947,  892, 1098, 1394,  746,
        834, 1024, 1348,  994, 1336])

In [29]:
#making a dataframe of students with their sat scores and gpa socres 
df_scores=pd.DataFrame({'sat_scores':sat_scores,'gpa_scores':gpa_scores})
df_scores

     sat_scores  gpa_scores
0           914        3.96
1           729        1.97
2           814        2.02
3          1099        0.11
4           827        3.20
..          ...         ...
495         834        1.55
496        1024        1.47
497        1348        2.42
498         994        2.15
499        1336        1.15

[500 rows x 2 columns]

In [30]:
correlation=df_scores.corr()
correlation

            sat_scores  gpa_scores
sat_scores     1.00000     0.01026
gpa_scores     0.01026     1.00000

#### solution 

clearly, the correlation coefficient in question_1 = 0.7 , which means 

1. strong positive relationship ( corr_coeff can lie between -1 and +1 )

2. 0.7 correlation indicates that as sat scores increase, gpa also increases  or as gpa increases, sat scores also increase. 

3. CORRELATION DOESNOT ESTABLISH CAUSATION. so, we necessarily cannot say that good gpa is an outcome of good sat scores or vice versa.